*{
    box-sizing: border-box; 
    padding:0;
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
    height:100%;
}
/* utilities */
.container{
    width:100%;
    padding: 30% 10%;
}
h1{
    font-size:20px;
}
.white{
    color:white;
}
/* Hero section */
.hero{
    background: url('../content/hero-bg1.svg'), url('../content/hero-bg2.png'),url('../content/hero-bg3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
